---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div class="infobox">
  <p class="title">The <b>unofficial</b> ITP Guide</p>
  <p>Please <a href="{{ 'https://github.com/alpkaanaksu/itpguide/issues/new' | url }}">create an issue on GitHub</a> if you spot any mistakes, have any suggestions or want to request new pages.</p>
</div>

{{ content | safe }}
